*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
html{
    background-color: #619177;
}

main{
    background-color: rgb(64, 126, 87);
    width: 500px;
    height: 500px;
    padding: auto;
    border-radius: 15px;
}

h1{
    padding: 10px 0px 25px 10px;
}

div{
    padding: 0 0 0 10px;

}

#tipo{
    display: flex;
    padding: 5px 0;
}

.nombre{
    padding: 0 28%;
}

button{
background-color: #72bca5;
color: #ffffff;
border-radius: 10px;
padding: 0 0 0 10px;

}

main{
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 46px;
}

#listaTareas{
    width: 380px;
    background-color: #2b7c5d;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: sans-serif;
    transition: transform 0.3s ease;
}
