*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu NSW ACT Cursive", cursive;
    
    
}
html{
    background-color: #619177;
}

main{
    background-image: url(https://img.magnific.com/vector-gratis/diseno-papel-blanco-blanco_53876-118304.jpg?semt=ais_test_b&w=740&q=80);
    background-color: rgb(64, 126, 87);
    width: 500px;
    height: 850px;
    padding: 25px 100px;
    border-radius: 15px;
}

h1{
    padding: 0px 0px 25px 10px;
}

h3{
    padding: 9px 0 0 0;
}

div{
    padding: 0 0 0 10px;
}

#tipo{
    display: flex;
    padding: 15px 0;
}

.nombre{
    padding: 0 28%;
}

button{
background-color: #72bca5;
color: #ffffff;
border-radius: 10px;
padding: 0 0 0 10px;

}



#listaTareas{
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: sans-serif;
    transition: transform 0.3s ease;
}

/* Celular */
@media (max-width: 767px){
    main {
    background-image: url(https://img.magnific.com/vector-gratis/diseno-papel-blanco-blanco_53876-118304.jpg?semt=ais_test_b&w=740&q=80);    
    background-size: cover;
    background-repeat: repeat;    
    max-width: 700px;
    padding: 15px 0 0 95px;
    display: block;
    
    }

}